.Header1Div{
    display: inline-flex;
    background-color: aqua;
    width: 100%;
    text-transform: uppercase;
    font-size: 30px;
}
.SosyalMidya div{
    display: inline-block;
    position: relative;
    right: 525px;
    border-left: 1px solid black;
    padding: 0px 0px 0px 5px;
}
.SosyalMidya .sondiv{
    border: none;
}
.ismaildiv{
    margin: 2px;
    position: relative;
}
.SelectLan div{
    display: inline-block;
    right: 575px;
    position: relative;
    padding: 0px 0px 0px 5px;
    border-left: 1px solid black;
}
.SelectLan .sondiv{
    border: none;
}
.SelectLan div a{
    text-decoration: none;
}
.hr1{
    position: relative;
    top: -10px;
}